.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 220px;
  height: 350px;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.products img {
  width: 100px;
}

.allproducts {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  flex-wrap: wrap;
  gap: 20px;
}
